{% extends 'base.html' %}
{% load static %}
{% load job_tags %}
{% block headblock %}
  <!-- Title -->
  <title>{{category.name }}</title>
  <meta content='{{category.name }}' name='title'/>
  <meta content='{{ category.name }}' name='description'/>

  <!-- facebook meta tag -->
  <meta property="og:locale" content="en_NP">
  <meta property="og:url"  content="{{ request.build_absolute_uri }}" />
  <meta property="og:type"   content="article" />
  <meta property="og:title"  content="{{ category.name }}" />
  <meta property="og:description"  content="{{ category.name }}" />
  <meta property="og:image"    content="https://www.careervertex.com/static/android-chrome-512x512.png" />
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="400">
  <!-- twitter meta tag -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{ category.name }} - Career Links Nepal ">
  <meta name="twitter:title" content="{{ category.name }}">
  <meta name="twitter:site" content="@Career Links Nepal">
  <meta name="twitter:image" content="https://www.careervertex.com/static/android-chrome-512x512.png">
  <meta name="twitter:creator" content="@Career Links Nepal">

{% endblock %}
{% block content %}
<main id="main">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9" data-aos="fade-up">
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
            </ol>
          </nav>
          <h3 class="category-title">Category: {{ category.name }}</h3>
          {% for job in jobs %}
          <div class="d-md-flex post-entry-2 half">
            <a href="{{ job.get_absolute_url }}" class="me-4 thumbnail">
              {% if job.image %}
              <img src="{{ job.image.url }}" alt="{{ job.title }}" class="img-fluid" onerror="this.src='{% static 'assets/img/logo.png' %}'; this.onerror=null;" loading="lazy">
              {% endif %}            
            </a>
            <div>
              <div class="post-meta"><span class="date">{{ job.category.name }}</span> <span class="mx-1">&bullet;</span> 
                <span>{{ job.created_at }}</span>
              </div>
              <h3><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></h3>
              <p class="mb-4 d-block">{{ job.short_text | truncatechars:400 }}</p>
            </div>
          </div>
          {% endfor %}
          <div class="text-start py-4 text-center">
            <div class="custom-pagination">
              {% if jobs.has_previous %}
                  <a href="?page={{ jobs.previous_page_number }}" class="prev">Previous</a>
              {% endif %}
              {% if jobs.paginator.num_pages > 1 %}
                  {% if jobs.number > 3 %}
                      <a href="?page=1">1</a>
                      {% if jobs.number > 4 %}
                          <span>...</span>
                      {% endif %}
                  {% endif %}
          
                  {% for i in jobs.paginator.page_range %}
                      {% if jobs.number == i %}
                          <a href="#" class="active">{{ i }}</a>
                      {% elif i > jobs.number|add:'-3' and i < jobs.number|add:'3' %}
                          <a href="?page={{ i }}">{{ i }}</a>
                      {% endif %}
                  {% endfor %}
                  {% if jobs.paginator.num_pages > jobs.number|add:'3' %}
                      {% if jobs.number|add:'4' != jobs.paginator.num_pages %}
                          <span>...</span>
                      {% endif %}
                      <a href="?page={{ jobs.paginator.num_pages }}">{{ jobs.paginator.num_pages }}</a>
                  {% endif %}
              {% endif %}
          
              {% if jobs.has_next %}
                  <a href="?page={{ jobs.next_page_number }}" class="next">Next</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- ======= Sidebar ======= -->
          <div class="aside-block">

            <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Recent</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <!-- Popular -->
              <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                {% get_recent_jobs as jobs %}
                {% for job in jobs %}
                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">{{ job.category }}</span> <span class="mx-1">&bullet;</span> <span>{{ job.created_at}}</span></div>
                  <h2 class="mb-2"><a href="{{ job.get_absolute_url}}" aria-label="Visit our job detail">{{ job.title }}</a></h2>
                </div>
                {% endfor %}
              </div> <!-- End Popular -->
            </div>
          </div>
          <div class="aside-block">
            <h3 class="aside-title">Categories</h3>
            <ul class="aside-links list-unstyled">
              {% get_categories as categories %}
              {% for cate in categories %}
                <li><a href="{% url 'category-detail' slug=cate.slug %}"><i class="bi bi-chevron-right"></i> {{ cate }} ({{ cate.total_job_count }})</a></li>
              {% endfor %}
            </ul>
          </div><!-- End Categories -->
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
{% endblock %}