{% extends "base.html" %}
{% load static %}
{% load job_tags %}
{% block headblock %}
  <!-- Title -->
  <title>Home - Career Vertex Nepal </title>
  <meta content='Home - Career Links Nepal' name='title'/>
  <meta name="description" content="Career Links Nepal is a Nepali website offering  , jobs, and job opportunities in fields such as NGOs/INGOs, banking, and technology etc. We will continue to share informative content on this platform.  ">
  <meta name="keywords" content="job, ngo,ingo,management,jobs,nepal, nepal jobs, technology,trends,news">
  <!-- facebook meta tag -->
  <meta property="og:locale" content="en_NP">
  <meta property="fb:app_id" content="">
  <meta property="og:url"  content="{{ request.build_absolute_uri }}" />
  <meta property="og:type"   content="article" />
  <meta property="og:title"  content="Home - Career Links Nepal" />
  <meta property="og:description"  content="Career Links Nepal is a Nepali website offering  , jobs, and job opportunities in fields such as NGOs/INGOs, banking, and technology etc. We will continue to share informative content on this platform." />
  <meta property="og:image"  content="https://www.careervertex.com/static/android-chrome-512x512.png" />
  <meta property="og:image:width" content="400">
  <meta property="og:image:height" content="400">
  <!-- twitter meta tag -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="Home - Career Links Nepal ">
  <meta name="twitter:title" content="Home - Career Links Nepal">
  <meta name="twitter:site" content="@Career Links Nepal">
  <meta name="twitter:image" content="https://www.careervertex.com/static/android-chrome-512x512.png">
  <meta name="twitter:creator" content="@Career Links Nepal">
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ request.build_absolute_uri }}",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{% url 'job_search' %}?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
  </script>
{% endblock %}
{% block content %}
<main id="main">
  <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <!-- job Posts Section -->
        <div class="col-lg-8">
          <h1>Latest Post</h1>
            <div class="row g-5">
                {% if jobs %}
                {% for job in jobs %}
                <div class="col-lg-6 border-start custom-border">
                    <div class="post-entry-1">
                        <a href="{{ job.get_absolute_url }}" aria-label="Visit our job detail page">
                            {% if job.image %}
                            <img src="{{ job.image.url }}" 
                            alt="{{ job.title }}"
                            class="img-thumbnail" 
                            onerror="this.src='{% static 'assets/img/logo.png' %}'; this.onerror=null;"
                            loading="lazy"    /> 
                            {% endif %}
                            <div class="post-meta">
                                <span class="date">{{job.category}}</span> 
                                <span class="mx-1">&bullet;</span> 
                                <span>{{job.created_at}}</span>
                            </div>
                            <h2>{{ job.title }}</h2>
                            <p class="mb-4 d-block">{{ job.short_text | truncatechars:235 }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div class="text-start py-4 text-center">
                    <div class="custom-pagination">
                        {% if jobs.has_previous %}
                            <a href="?page={{ jobs.previous_page_number }}" class="prev">Previous</a>
                        {% endif %}
                    
                        {% if jobs.paginator.num_pages > 1 %}
                            {% if jobs.number > 3 %}
                                <a href="?page=1">1</a>
                                {% if jobs.number > 4 %}
                                    <span>...</span>
                                {% endif %}
                            {% endif %}
                    
                            {% for i in jobs.paginator.page_range %}
                                {% if jobs.number == i %}
                                    <a href="#" class="active">{{ i }}</a>
                                {% elif i > jobs.number|add:'-3' and i < jobs.number|add:'3' %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                    
                            {% if jobs.paginator.num_pages > jobs.number|add:'3' %}
                                {% if jobs.number|add:'4' != jobs.paginator.num_pages %}
                                    <span>...</span>
                                {% endif %}
                                <a href="?page={{ jobs.paginator.num_pages }}">{{ jobs.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    
                        {% if jobs.has_next %}
                            <a href="?page={{ jobs.next_page_number }}" class="next">Next</a>
                        {% endif %}
                    </div>
                    
                </div>
                {% else %}
                <p>No job available.</p>
                {% endif %} 
            </div>
        </div> 
        <!-- End job Posts Section -->
        <!-- Trending Section -->
        <div class="col-lg-3">
            <br/><br/>
            <div class="trending">
                <h1>Categories</h1>
                <ul class="trending-post">
                    <li>
                        {% get_categories as categories %}
                        {% for cate in categories %}
                        <a href="{% url 'category-detail' slug=cate.slug %}">
                            <span class="number">{{ forloop.counter }}</span>
                            <p>{{ cate }} ({{ cate.total_job_count }})</p>
                        </a>
                        {% endfor %}
                    </li>
                    <!-- Add more trending posts as needed -->
                </ul>
            </div>
        </div> <!-- End Trending Section -->
      </div> <!-- End .row -->
  </div>

</main><!-- End #main -->
{% endblock %}
